nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        border: 2px solid rgb(65,65,65);
        outline: none;
        cursor: pointer;
        padding: 0.5rem;
        transition: all .5s ease;
        &:hover {
            background: rgb(65,65,65);
            color: white;
        }
    }
}